{
	"presets": [[
		"@babel/preset-env", {
            "targets": {
				"esmodules": true,
				"node": "10"
            }
		}
	]],
	"comments": false,
	"retainLines": true,
	"compact": true,
	"minified": true
}